@media only screen and (max-width: 768px) {
    body{
        font-size: 2.5rem;
        
    }
    #wrapper{
        width: 100%;

    }
    p{
        font-size: 2rem;
    }
    h2{
        font-size: 3rem;
    }
    .orderButton{
        height: 5rem;
        width: 20rem;
        font-size: 2rem;
    }
    .nav ul{
        height: 4rem;
    }
    .nav ul li a{
        font-size: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .introText p{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .orderButton{
        height: 2.5rem;
        width: 10rem;
        font-size: 1rem;
    }
  }
body{
    font-family: cursive;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    
}

    .nav ul{
        background-color: rgb(255, 154, 151);
        z-index: 999;
        width: 100%;
        position: fixed;
        top:0;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
        .nav ul li{
            float: left;
        }
        .nav ul li .navOrder{
            position: absolute;
            margin: auto;
            right: 10px;
            background-color: pink;
            color: black;
        }
            .nav ul li a{
                display: block;
                color: white;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
            }
        .nav ul li a:hover{
            background-color: rgb(245, 136, 136);
            text-decoration: underline;
        }
    #wrapper{
        width: 960px;
        height: 100%;
        margin: 0 auto;
        padding: 5px 2%; 
        text-align: center;
        position: relative
    }
        .productContainer{
            width: 100%;
            height: 400px;
            overflow: hidden;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }
            .productContainer img
            {
                position: relative;
                height: 90%;
                top: 2rem;
                margin-left: auto;
                margin-right: auto;
            }
            .introText{
                
                z-index: 10;
                position: absolute;
                bottom: 0;
                width: 100%;
                
            }
                .introText p{
                    padding: 5px;
                    text-align: left;
                    float: left;
                }
                .introText #Plumbus{
                    background-color: pink;
                    color: black;
                    border-radius: 20px;
                    transition: 1s;               
                }
                .introText #Plumbus:hover {
                    color: white;
                  }
    .information{
        padding: 10px;
    }
        #intro{
            margin: 10px;
        }
        #feedback{
            overflow: auto;

        }
            #feedbackContent{
                padding: 10px;
                margin: 10px;
                display: block;
            }
                #feedbackContent img{
                    width: 50%;
                    border-radius: 5px;
                    margin: 10px;

                }
                #feedbackContent .commentSection{
                    display: block;
                    width: 45%;
                }
                #feedbackContent .commentSection .comment{
                    border-radius: 10px;
                    font-style: oblique;
                    background-color:pink;
                    float: right;
                    clear: both;
                    margin: 10px;
                    padding: 10px;
                }
                    #feedbackContent .commentSection .comment .commentText{
                        text-align: center;
                        color: black;
                        margin-top: 10px;
                        margin-bottom: 0px;
                    }
                    #feedbackContent .commentSection .comment .author{
                        text-align: right;
                        color: black;
                        font-size: 12px;
                        margin-top: 0;
                        margin-bottom: 0px;
                        padding: 5px;
                    }
        #specifications ul li{
            text-align: left;
        }
    footer{
        display: block;
        clear: both;
        opacity: 50%;
        text-align: center;
        padding: 20px;
        margin: auto;
        left: 50%;
        width: 100%;

    }
.left{
    float: left;
    clear: left;
}
.right{
    float: right;
    clear: right;
}
.text_left{
    text-align: left;
}
.orderButton{
    background-color: pink;
    color: Black;
    border-radius: 20px;
    font-weight: bold;
}
.orderButton:hover{
    background-color: rgb(255, 151, 151);
    cursor: pointer;
}
